node_modules/
.expo/
/android/
/ios/
expo-env.d.ts
build/
dist/
artifacts/
*.tsbuildinfo
.env
.env.*
!.env.example
*.log
.DS_Store
.idea/
*.keystore
*.jks
*.p12
*.key
**/keystore.properties
**/credentials.json
coverage/

.cxx/
.gradle/
.externalNativeBuild/
